*{
    height: auto;
  width: auto;
    padding:0px;

}
html ,body{
  height: 100%;
}
 body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    background-color:rgb(243, 243, 222) ;
    
    color: black;
 }
 header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    width: auto;
 }
 
 .info h4{
   font-size: 14px;
   color: black;
   margin-left: 10px;
 }
 
 
nav .nav-links ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
 }
 
 nav .nav-links ul li{
   
   margin: 0 15px;
   cursor: pointer;
 }
 nav .nav-links ul li a{
   text-decoration: none;
   color:black
   
   
 }
 nav .menu img{
  position: absolute;
  top: 10px;
  right: 75px;
  display: none;
  width: 35px;
  
 }



 .container{
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: repeat(2, auto);
  
   gap: 20px 50px;


 }

.item1 img{
  width: 400px;
  height: 300px;
}
.item2 img{
  width: 400px;
  height: 300px;
}
.item3 img{
  width: 400px;
  height: 300px;
}
.item4 img{
  width: 400px;
  height: 250px;
}
.item5 img{
  width: 400px;
  height: 250px;
}



 footer{
    background-color:rgba(232, 232, 215, 0.542);
    color: black;
    text-align: center;
    bottom: auto;
   margin: 20px;
    
  
}
.contact-info{
    display: inline-block;
    text-align: center;
    padding: 0px;
   
}

.social-media  a{
 text-decoration: none;
 color: black;

}
.social-media a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 536px){
  body{
    padding: 10px;
    margin-left: 5px;
  }
  
  nav .menu img{
    display: block;
  }  
  .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(237, 221, 221, 0);
    backdrop-filter: blur(10px) ; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center  ;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
    
  }
   .nav-links.mobile-menu{
  margin-left: 0;

}
  nav .nav-links ul li{
    display: flex;
    flex-direction: column;
   }
  
   nav .nav-links ul{
    display: flex; 
    flex-direction: column;
    align-items: center;
   }
   
 nav .nav-links ul li{
   
   margin: 25px 0;
   cursor: pointer;
   font-size: 1.2em;
 }
  .container{
   display: block;

  
 }
 footer{
  width: 100%;
 }
}